.wrapper {
  display: flex;
  justify-content: space-between;

  column-gap: 100px;
  padding-block: 50px;
}

.title {
  font-size: 40px;
  font-weight: 500;
}

.description {
  font-size: 15px;
  font-weight: 400;
}
