.wrapper {
  display: flex;
  justify-content: space-between;

  column-gap: 100px;
  padding-block: 50px;
}

.title {
  font-size: 40px;
  font-weight: 500;
}

.description {
  font-size: 15px;
  font-weight: 400;
}

.description a {
  color: var(--color-accent-primary);
  transition: color 150ms ease;
}

.description a:hover,
.description a:focus-visible {
  color: var(--color-text-primary);
}

@media (--media-tablet) {
  .wrapper {
    column-gap: 0;
    justify-content: revert;
  }

  .formWrapper {
    margin-left: auto;
    flex-basis: 60%;
  }
}

@media (--media-mobile) {
  .wrapper {
    flex-direction: column;
    row-gap: 50px;
  }

  .formWrapper {
    margin-left: 0;
    flex-basis: 100%;
    width: 100%;
  }
}
