.wrapper {
  display: flex;
  justify-content: space-between;

  column-gap: 100px;
  padding-block: 50px;
}

.title {
  font-size: 40px;
  font-weight: 500;
}

.description {
  font-size: 15px;
  font-weight: 400;
}

.description a {
  color: var(--color-accent-primary);
  transition: color 150ms ease;
}

.description a:hover,
.description a:focus-visible {
  color: var(--color-text-primary);
}
