.wrapper {
  border-top: 1px solid #23252a;
}

.container {
  padding-block: 55px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row:last-child {
  margin-top: 10px;
}

.link {
  margin-left: auto;

  font-size: 14px;

  color: #8a8f98;
  transition: color 150ms ease;
}

.link:hover,
.link:focus-visible {
  color: var(--color-text-primary);
}

.logotype {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: fit-content;
}

.logotypeIcon {
  width: 1.5em;
  height: 1.5em;
}

.logotype span {
  font-size: 14px;
  color: #8a8f98;
  transition: color 150ms ease;
}

.logotype:hover span,
.logotype:focus-visible span {
  color: #f7f8f8;
}

.socials {
  display: flex;
  column-gap: 25px;
}

.socialsItem svg {
  width: 18px;
  height: 18px;
  color: #8a8f98;
}
