.wrapper {
  padding-block: 150px;
  background-image: linear-gradient(to bottom, rgba(97, 106, 115, 0.12), transparent 100%);
}

.inner {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}

.heroTitle {
  font-size: 24px;
}

.heroDescription {
  font-size: 15px;
  color: #d0d6e0;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 24px;
  overflow-x: hidden;
}

.cardSmallTitle {
  grid-column: 1 / 3;
  padding-bottom: 10px;

  font-size: 13px;
  font-weight: 500;

  color: #8a8f98;
  border-bottom: 2px solid #23252a;
}

.cardTitle {
  font-size: 24px;
  font-weight: 700;
  text-wrap: balance;
}

.cardDescription {
  margin-top: 24px;
  font-size: 15px;
  color: #8a8f98;
}

.cardNumber {
  align-content: center;

  font-size: 80px;
  font-weight: 900;
  text-align: right;

  color: #d0d6e0;
}
