.wrapper {
  position: sticky;
  z-index: 1337;
  top: 0;

  padding-block: 16px;
}

.inner {
  display: flex;
  column-gap: 24px;
  align-items: stretch;

  height: 48px;

  background-color: hsla(0, 0%, 4%, 0.2);
  backdrop-filter: blur(24px) saturate(140%);

  border-radius: 12px;
  border: 1px solid hsla(0, 0%, 100%, 0.08);
}

.logotype {
  padding-inline: 12px;

  display: flex;
  align-items: center;
  column-gap: 0.5ch;

  font-size: 13px;
}

.logotypeIcon {
  width: 1.5em;
  height: 1.5em;
}

.navigation {
  display: flex;
  column-gap: 24px;
  align-items: stretch;
  margin-inline: auto;
}

.navigationLink {
  padding-inline: 12px;

  font-size: 13px;
  align-content: center;

  color: hsla(0, 0%, 100%, 0.8);
  transition: color 250ms ease-out;
}

.navigationLink:hover,
.navigationLink:focus-visible {
  color: #f7f8f8;
}

.actions {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin: auto 12px auto 0;
}

.contactsButton {
  font-size: 13px;
}

@media (max-width: 1024px) {
  .logotype {
    flex-shrink: 0;
  }

  .wrapper {
    justify-content: space-between;
  }

  .navigation {
    width: 100%;
    margin-inline: revert;
    column-gap: revert;
    justify-content: space-between;
  }
}
