.wrapper {
  margin-block: auto;
  height: fit-content;

  padding: 2px 8px;
  border-radius: 4px;

  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: #28282c;
}
