.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;

  padding-top: calc(100px - 16px);
  height: calc(100vh - var(--header-height));
}

.wrapper::after {
  position: absolute;
  inset: 0;

  content: '';
  background-image: linear-gradient(to bottom, transparent 50%, #08090a 100%);

  pointer-events: none;
}

.title {
  font-size: 56px;
  line-height: 1.2;
  max-width: 60%;
  text-wrap: balance;
}

.subtitle {
  max-width: 75%;
  margin-top: 24px;

  font-size: 20px;
  font-weight: 500;
  text-wrap: balance;

  color: rgba(255, 255, 255, 0.7);
}

.imagesContainer {
  margin-top: 100px;

  position: relative;
  margin-inline: auto;

  width: 1600px;
  height: 100%;

  border: 1px solid #1e1e1e;
  border-bottom: none;

  border-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.image {
  position: absolute;

  top: calc(6px * var(--index));
  left: calc(6px * var(--index));

  width: calc(100% - 6px * 2 * var(--index));
  height: calc(100% - 6px * 2 * var(--index));

  object-fit: cover;
  object-position: top;

  border-radius: 6px 6px 0 0;
  transform-origin: bottom;
}

@media (--media-tablet) {
  .title {
    text-align: center;
    max-width: none;
  }

  .subtitle {
    text-align: center;
    max-width: none;
  }

  .imagesContainer {
    width: var(--page-container-width);
  }
}

@media (--media-mobile) {
  .title {
    font-size: 40px;
  }

  .imagesContainer {
    width: 100%;
  }
}
