.wrapper {
  padding-block: 100px;
}

.subtitle {
  color: var(--color-text-secondary);

  font-size: 14px;
  font-weight: 400;

  text-align: center;
  text-wrap: balance;
}

.title {
  margin-top: 15px;

  font-size: 48px;
  line-height: 1.2;

  text-align: center;
  text-wrap: balance;
}

.description {
  margin-top: 15px;
  color: var(--color-text-tertiary);

  font-size: 17px;
  font-weight: 400;

  text-align: center;
  text-wrap: balance;
}
